<footer class="page-footer bg-light text-dark">
    <div class="container">        
        <div class="row py-4 ">
            <div class="col-md-6 d-flex justify-content-start">
                Veja nosso repositório no github
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <a href="https://github.com/Projeto-Integrador-T48" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-copyright py-4 text-center bg-dark text-light">Feito com <i class="fa fa-heart-o" aria-hidden="true"></i> Todos os direitos reservados © 2022 Generation Brasil</div>
</footer>