<footer class="page-footer bg-cg-50">
    <div class="container bb-cg-200">        
        <div class="row py-4 ">
            <div class="col-md-6 d-flex justify-content-start text-cg-500">
                Veja nosso repositório no github
            </div>
            <div class="col-md-6 d-flex justify-content-end text-cg-500">
                <a href="https://github.com/Projeto-Integrador-T48" target="_blank"><i class="fa fa-github fa-lg text-cg-500" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-copyright py-4 text-center text-cg-500">Feito com <i class="fa fa-heart-o" aria-hidden="true"></i> por <strong class="text-cg-500">ConectaGen</strong>. Todos os direitos reservados © 2022</div>
</footer>