<div class="container py-50 conteudo">
  <div class="row d-flex justify-content-around align-items-center" id="sessao-home">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4">SOMOS A PONTE ENTRE VOCÊ E SEU PRÓXIMO DESTINO.</h1>

          <p class="mb-5">
            Conectamos pessoas através do turismo econômico e sustentável. 
          </p>

          <button class="btn btn-verde px-4" routerLink="/entrar">Entrar</button>
        </div>
      </div>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-content-center bg-img-height">
      <div class="bg-img">
        <img src="../../assets/img/cabecalho.png" alt="Ilustração de uma garota mexendo no celular" class="img-fluid">
      </div>
    </div>
  </div>
</div>