<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <h1>Lorem ipsum dolor sit amet.</h1>

          <p style="color:#c6c6c6c7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque est, recusandae maxime sint dolore placeat aliquid, veniam tempore tenetur adipisci deleniti. Molestiae at ipsum quibusdam.</p>

          <button class="btn" style="background-color: #abaaaad1; color:black;">Entrar</button>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="imgbg"></div>
  </div>
</div>
