#imgbg{
  background-image: url("../../assets/imagens/Saly-2.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

div h1{
  font-weight: 700;
  font-size: 3rem;
}

div p, button{
  font-weight: 600;
}






