<div class="container py-50 conteudo">
  <div class="row d-flex justify-content-around align-items-center">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4">Lorem ipsum dolor sit amet.</h1>

          <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque est, recusandae
            maxime sint dolore placeat aliquid, veniam tempore tenetur adipisci deleniti. Molestiae at ipsum quibusdam.
          </p>

          <button class="btn btn-verde px-4" routerLink="/entrar">Entrar</button>
        </div>
      </div>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-content-center bg-img-height">
      <div class="bg-img">
        <img src="../../assets/img/cabecalho.png" alt="Ilustração de uma garota mexendo no celular" class="img-fluid">
      </div>
    </div>
  </div>
</div>