/* #imgbg{
  background-image: url("../../assets/imagens/Saly-2.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
} */

.bg-img {
  width: auto;
  height: 100%;
  overflow: hidden;
}

.bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-img-height {
  height: 55vh;
}

p,button{
  font-size: 1.35rem!important;
  font-weight: 400!important;
}

h1{
  font-size: 4rem!important;
  font-weight: 600!important;
}




