<div class="conteudo d-flex justify-content-center align-items-center flex-column">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <h6 class="d-flex justify-content-center">Nossa missão</h6>
        <h1 class="d-flex justify-content-center">Transformar</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>
  </div>
</div>
