<div class="container-fluid bg-cg-50">
  <div class="container">
    <nav class="navbar navbar-expand-lg py-3">
      <button
        class="navbar-toggler text-roxo1"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fa fa-bars text-dark"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
          <li class="nav-item active p-0">
            <img
              class="img-fluid mr-3 rounded-circle"
              width="52rem"
              alt="Logotipo ConectaGen"
              src="../../assets/img/icone.png"
            />
          </li>
          <li class="nav-item active p-0">
            <img
              class="rounded-circle img-fluid b-img"
              width="45rem"
              alt="Foto cadastrada do usuário"
              src="{{ foto }}"
              onerror="this.src = '../../assets/img/gravatar.png'"
            />
          </li>
          <li class="nav-item pl-2">
            <p class="m-0">
              <a class="" [routerLink]="['/usuario-edit', idUser]">Meu perfil</a>
            </p>
          </li>
          <li class="nav-item pl-2">
            <p class="m-0"><a class="" routerLink="/feed">Feed</a></p>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 ml-2" href="#"
              ><p class="m-0">
                <i class="fa-regular fa-pen-to-square text-violeta"></i
                ><!-- <i class="fa fa-pencil-square-o" aria-hidden="true"></i> -->
              </p></a
            >
          </li>
        </ul>

        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item">
            <p class="m-0">
              <a (click)="sair()" href=""
                >Sair
                <i
                  class="fa fa-sign-out violeta p-0 ml-2"
                  aria-hidden="true"
                ></i
              ></a>
            </p>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
