<div class="row">
  <div class="col-md-6 d-flex justify-content-center">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <h1 class="text-center mb-3 font-bolder">Bem-Vinde!</h1>
        <p class="text-center font-bold">
          Faça seu login para acessar o conteúdo da plataforma.
        </p>
        <div class="form-group">
          <label for="usuario">Email:</label>
          <span class="fa fa-envelope form-control-icon"></span>
          <input
            class="form-control"
            type="text"
            name="usuario"
            placeholder="Insira seu email"
          />
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <span class="fa fa-lock form-control-icon"></span>
          <input
            class="form-control"
            type="password"
            name="senha"
            placeholder="Insira sua senha"
          />
          <p class="text-center fs-10 mt-3 font-bold">
            Ainda não tem uma conta? <a href="">cadastre-se</a>
          </p>
          <hr />
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-light w-50">Entrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 img-login bg-light"></div>
</div>
