<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light  mt-3 mb-3">
    <a class="navbar-brand mt-2" href="#"><img class="logo" src="../assets/img/logo.png" alt="Logotipo da ConectaGen"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="menu collapse navbar-collapse mt-2" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item-active">
          <a class="nav-link text-dark " href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#ods">ODS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#missao">Missão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#idealizadores">Idealizadores</a>
        </li>
      </ul>
      <form class="buttons form-inline d-flex justify-content-end my-lg-0">
        <button class="btn mr-2" routerLink="/entrar">
          <i class="fa fa-user-o mr-2" aria-hidden="true"></i>Entrar</button>
        <button class="btn btn-cadastrar px-4" routerLink="/cadastrar">Cadastrar</button>
      </form>
    </div>
  </nav>
</div>
