<div class="container py-50 conteudo"  id="sessao-idealizadores">
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-12 pb-50">
            <h3 class="mb-4">Idealizadores</h3>
            <p>
               Somos um grupo de desenvolvedores apaixonados por tecnologia e inovação.
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center py-5">
        <div class="col-md-10">
            <div class="row d-flex justify-content-between">
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Eduarda Matias</h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nihil ratione accusamus magnam cum est
                    perferendis.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="https://www.linkedin.com/in/eduarda-matias/" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="https://github.com/EduardaMatias" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Fernando Oliveira</h4>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sequi itaque veritatis
                    deleniti
                    quaerat.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="https://www.linkedin.com/in/fernando-oliveira-255b64174/" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="https://github.com/Fernando-Oliver" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Janaina Teixeira</h4>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam praesentium aperiam quos corrupti
                    porro
                    rerum.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="https://www.linkedin.com/in/janaina-teixeira/" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="https://github.com/janagt" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center py-5">
        <div class="col-md-10">
            <div class="row d-flex justify-content-between">
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Letícia Paoleschi</h4>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, repudiandae recusandae officia
                    earum.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="https://www.linkedin.com/in/leticiapaoleschi/" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="https://github.com/leticiapaoleschi" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Matheus Santos</h4>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores sed animi alias distinctio
                    consectetur.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="https://www.linkedin.com/in/matheus-ferreira-317b98231/" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="https://github.com/MatheusMSF" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Victor Martins</h4>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, neque distinctio ipsam magnam
                    itaque.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="https://www.linkedin.com/in/victorm-reis/" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="https://github.com/victormreis" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- formulário do contato -->

<div class="container-fluid">
    <div class="container py-50 conteudo" id="sessao-contato">
        <div class="row text-center">
            <div class="col-md-12 pb-50">
                <h3 class="d-flex justify-content-center px-0 mb-5">Contato</h3>
                <p>
                    Deixe sua mensagem para a gente!
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-around pt-5">
            <div class="col-md-6" id="img-bg">
                <img class="img-fluid" src="../../assets/img/contato.png" alt="">
            </div>

         <div class="col-md-6">
        
            <div class="col-md-10">
                <form class="text-center">
                    <div class="form-group">
                        <label for="exampleFormControlInput1" id="txtNome">Nome</label>
                        <input [(ngModel)]="usuario.nome" (input)="validanome()" type="nome" class="form-control nome" id="nome" name="nome" placeholder="Seu nome">
                      </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1" id="txtEmail">Endereço de email</label>
                      <input [(ngModel)]="usuario.usuario" (input)="validaemail()"  type="email" class="form-control email" id="usuario" name= "email" placeholder="nome@exemplo.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1" id="txtAssunto">Assunto</label>
                    <textarea (keyup)="validaassunto()" class="form-control" id="assunto" name="assunto" rows="3"></textarea>
                    </div>
                    <button class="btn btn-violeta"(click)="enviar()">Enviar</button>
                  </form>

            </div>
        </div>

    </div>
</div>