<div class="container">
    <div class="row d-flex justify-content-center text-center py-5">
        <h2 class="mb-4">Idealizadores</h2>
        <div class="col-md-10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo doloribus praesentium a cupiditate quis! Quas totam ducimus excepturi iure laborum, rerum nostrum ipsum numquam ex voluptatum, praesentium maiores quidem perferendis sequi eaque et nam. Voluptates expedita id numquam recusandae nemo, dicta ex sapiente suscipit quibusdam, facilis odio unde repellat. Alias, sint quae! Cupiditate iste soluta voluptatibus odit qui, odio sed.
        </div>
    </div>   
    <div class="row d-flex justify-content-between text-center py-5">
        <div class="col-md-3">
            <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
            <h3 class="mb-3">Eduarda Matias</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nihil ratione accusamus magnam cum est perferendis.
            <div class="row d-flex justify-content-center text-center mt-4">
                <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-3">            
            <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
            <h3 class="mb-3">Fernando Oliveira</h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sequi itaque veritatis deleniti quaerat.
            <div class="row d-flex justify-content-center text-center mt-4">
                <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
            <h3 class="mb-3">Janaina Teixeira</h3>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam praesentium aperiam quos corrupti porro rerum.
            <div class="row d-flex justify-content-center text-center mt-4">
                <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-between text-center my-5">
        <div class="col-md-3">
            <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
            <h3 class="mb-3">Letícia Paoleschi</h3>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, repudiandae recusandae officia earum.
            <div class="row d-flex justify-content-center text-center mt-4">
                <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
            <h3 class="mb-3">Matheus Santos</h3>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores sed animi alias distinctio consectetur.
            <div class="row d-flex justify-content-center text-center mt-4">
                <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
            <h3 class="mb-3">Victor Martins</h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, neque distinctio ipsam magnam itaque.
            <div class="row d-flex justify-content-center text-center mt-4">
                <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>