<hr>
<div class="container py-50 conteudo">
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-12 pb-50">
            <h3 class="mb-4">Idealizadores</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consectetur amet? Non natus excepturi,
                animi inventore saepe adipisci maxime nisi, omnis corrupti provident hic quas beatae. Ea, doloribus.
                Reiciendis, vero! Lorem ipsum dolor sit .
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center py-5">
        <div class="col-md-10">
            <div class="row d-flex justify-content-between">
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Eduarda Matias</h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nihil ratione accusamus magnam cum est
                    perferendis.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Fernando Oliveira</h4>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sequi itaque veritatis deleniti
                    quaerat.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Janaina Teixeira</h4>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam praesentium aperiam quos corrupti porro
                    rerum.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center py-5">
        <div class="col-md-10">
            <div class="row d-flex justify-content-between">
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Letícia Paoleschi</h4>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, repudiandae recusandae officia earum.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Matheus Santos</h4>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores sed animi alias distinctio consectetur.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-user-circle fa-5x mb-4" aria-hidden="true"></i>
                    <h4 class="mb-3">Victor Martins</h4>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, neque distinctio ipsam magnam itaque.
                    <div class="row d-flex justify-content-center text-center mt-4">
                        <a href="" target="_blank"><i class="fa fa-linkedin mx-1" aria-hidden="true"></i></a>
                        <a href="" target="_blank"><i class="fa fa-github mx-1" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>




<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="d-flex justify-content-center px-0 mb-4">Contato</h3>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6" id="img-bg">
                <img class="img-fluid" src="../../assets/img/contato.png" alt="">
            </div>
         <div class="col-md-6">
        
            <div class="col-md-10">
                <form class="text-center">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nome:</label>
                        <input type="nome" class="form-control" id="exampleFormControlInput1" placeholder="Seu nome">
                      </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Endereço de email:</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Assunto:</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button class="btn btn-violeta">Enviar</button>
                  </form>
                  
            </div>
        </div>
       </div>
         
    </div>
</div>
<hr>


