#img-bg{
background-image: url('https://cdn.discordapp.com/attachments/955458773303066626/970688648049750026/unknown.png');
min-height: 695px;

background-position-y: center;
background-repeat: no-repeat;
background-size: cover;
 }
