#bg-img {
    background-image: url('../../assets/img/cadastro.png');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30vh;
}

a {
    color: var(--violeta) !important;
}

a:hover {
    color: var(--violeta) !important;
}

.form-group .form-control {
    padding-left: 2.375rem;
  }

  .form-padding{
      padding: 0!important;
  }
  
  .form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.9rem;
    height: 2.9rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
  }