<div class="container-fluid bg-cg-50">
    <div class="row d-flex align-items-center py-5">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1>Seja bem vinde!</h1>
                    <h5>Expresse aqui os seus pensamentos e opiniões!</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-md-6">
                    <button class="btn btn-outline-dark mr-3 mt-2">Nova postagem</button>
                    <a class="btn btn-verde mt-2" href="">Ver postagens</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="" alt="">
        </div>
    </div>
</div>