<div class="container-fluid bg-cg-50">
  <div class="row d-flex align-items-center py-5">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <h1>Seja bem vinde!</h1>
          <h5>Expresse aqui os seus pensamentos e opiniões!</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container ">
    <div class="row my-4">

      <div class="col-md-3">
        <div class="div card d-flex align-content-center p-3">
          <div class="row d-flex justify-content-center mb-3">
            <img class="rounded-circle img-fluid b-img" width="100rem" src="{{foto}}" onerror="this.src = '../../assets/img/gravatar.png'">
          </div>
          <div class="row d-flex justify-content-center">
            <h5 class="text-center">{{nome}}</h5>
          </div>
          <div class="row d-flex justify-content-center mt-3">
            <button class="w-100 text-left btn btn-violeta text-cg-50 mx-3 my-1 px-3" data-toggle="modal" data-target="#novaPostagem">
              <i class="fa fa-plus-square-o text-cg-50 pr-2 " aria-hidden="true"></i> Novo post
            </button>
            <button class="w-100 text-left btn btn-violeta text-cg-50 mx-3 my-1 px-3">
              <i class="fa fa-plus-square-o text-cg-50 pr-2" aria-hidden="true"></i> Cadastrar tema
            </button>
            <button class="w-100 text-left btn btn-cg-200 text-cg-500 mx-3 my-1 px-3" routerLink="/minhas-postagens">
              <i class="fa fa-user-o pr-2 text-violeta" aria-hidden="true"></i> Minhas postagens
            </button>
            <button class="w-100 text-left btn btn-cg-200 text-cg-500 mx-3 my-1 px-3" [routerLink]="['/usuario-edit', idUser]">
              <i class="fa fa-sliders pr-2 text-violeta" aria-hidden="true"></i> Editar perfil
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-9">


        <div class="row card pt-2 pb-2 mb-4" *ngFor='let item of listaPostagens'>
          <div class="col-md-12">
            <div class="d-flex align-items-center">
              <img [src]=item.usuario.foto
                class="img-fluid rounded-circle"
                width="40px"
                height="40px"
                onerror="this.src = 'assets/img/gravatar.png'"              
              >
                
                <p class="text-cg-500 mb-0 pb-0 ml-2 mr-4">{{item.usuario.nome}}</p>
                <p class="text-cg-500 mt-3"><i class="fa fa-clock-o  mr-1 text-success" aria-hidden="true"></i> {{item.data | date: 'dd/MM/yyyy'}}</p>
                <p class="text-cg-500 mt-3"><i class="fa fa-map-marker ml-3 mr-1 text-success" aria-hidden="true"></i> {{item.tema.categoria}}</p>
                <p class="text-cg-500 mt-3"><i class="fa fa-shopping-bag ml-3 mr-1 text-success" aria-hidden="true"></i> - {{item.valor}}</p>
            </div>
            <hr class="mr-0 ml-0">
            <h5 class="card-title m-0 mb-3">{{item.titulo}}</h5>
            <ng-container *ngIf="item.foto != null" >
              <img [src]=item.foto alt=""
              width="100%"
              class="img-fluid"
              onerror="this.src = 'https://portal.crea-sc.org.br/wp-content/uploads/2017/11/imagem-indisponivel-para-produtos-sem-imagem_15_5.jpg'"              
              >

            </ng-container>
            <p class="card-text mt-3 pb-4">{{item.descricao}}</p>
            
              


          
        </div>

        <!-- <div class="mt-4 mb-4">
          <div class="card text-center mt-4 mb-4" *ngFor='let item of listaPostagens'>
            <div class="card-body">
              <h5 class="card-title m-0">{{item.titulo}}</h5>
              <small class="text-muted"> Tema: {{item.tema.categoria}} - {{item.valor}} </small>
              <p class="card-text mt-3">{{item.descricao}}</p>
              <ng-container *ngIf="item.foto != ''" >
                <img [src]=item.foto alt=""
                class="img-fluid"
                onerror="this.src = 'https://portal.crea-sc.org.br/wp-content/uploads/2017/11/imagem-indisponivel-para-produtos-sem-imagem_15_5.jpg'"              
                >

              </ng-container>
              <p class="card-text mb-0 pb-0"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data |
                  date:'HH:mm'}}</small></p>

              <p class="card-text mb-0 pb-0"><small class="text-muted">{{item.usuario.nome}}</small></p>
              <img [src]=item.usuario.foto
              class="img-fluid rounded-circle"
              width="40px"
              height="40px"
              onerror=""
              >
            </div>
          </div>
        </div> -->

      </div>

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="novaPostagem" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="form-group">
            <label for="titulo">Título</label>
            <input [(ngModel)]='postagem.titulo' type="text" name="titulo" id="titulo" class="form-control"
              placeholder="Digite o título" />
          </div>
          <div class="form-group">
            <label for="titulo">Foto</label>
            <input [(ngModel)]='postagem.foto' type="text" name="foto" id="foto" class="form-control"
              placeholder="Endereço da foto" />
          </div>
          <div class="form-group">
            <label for="titulo">Descrição</label>
            <textarea [(ngModel)]='postagem.descricao' name="texto" id="texto" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="titulo">Escolha um tema ou <a routerLink="/tema" data-dismiss="modal">cadastre um
                novo</a></label>
            <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
              <option disabled selected>Selecione um tema:</option>
              <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.categoria}}</option>
            </select>
            <p class="mt-3">Selecione o valor:</p>
            <select name="valor" id="valor" class="form-control mt-2" (change)='setValor($event)'>
              <option disabled selected></option>
              <option value="gratis">Gratuito</option>
              <option value="$">de R$ 1 - R$ 99</option>
              <option value="$$">de R$ 100 - R$ 499</option>
              <option value="$$$">Acima de R$ 500</option>
              <!-- <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.categoria}}</option> -->
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar </button>
          <button type="submit" class="btn btn-dark" (click)="publicar()" data-dismiss="modal">Publicar</button>
        </div>
      </form>
    </div>
  </div>
</div>
