<div class="container-fluid">
  <div class="container mt-4">
    <div class="row">

      <div class="col-md-3 mb-5">

        <div class="div card d-flex align-content-center p-3">
          <div class="row d-flex justify-content-center mb-3">
            <img class="rounded-circle img-fluid b-img" width="100rem" src="{{foto}}" onerror="this.src = '../../assets/img/gravatar.png'">
          </div>

          <div class="row d-flex justify-content-center">
            <h5 class="text-center">{{nome}}</h5>
          </div>
          
          <div class="row d-flex justify-content-center mt-3">
            <!-- <button class="w-100 text-left btn btn-violeta text-cg-50 mx-3 my-1 px-3" data-toggle="modal"
              data-target="#novaPostagem">
              <i class="fa fa-plus-square-o text-cg-50 pr-2 " aria-hidden="true"></i> Novo post
            </button>
            <button class="w-100 text-left btn btn-violeta text-cg-50 mx-3 my-1 px-3">
              <i class="fa fa-plus-square-o text-cg-50 pr-2" aria-hidden="true"></i> Cadastrar tema
            </button> -->
            <button class="w-100 text-left btn btn-cg-200 text-cg-500 mx-3 my-1 px-3" routerLink="/minhas-postagens">
              <i class="fa fa-user-o pr-2 text-violeta" aria-hidden="true"></i> Minhas postagens
            </button>
            <button class="w-100 text-left btn btn-cg-200 text-cg-500 mx-3 my-1 px-3" [routerLink]="['/usuario-edit', idUser]">
              <i class="fa fa-sliders pr-2 text-violeta" aria-hidden="true"></i> Editar perfil
            </button>
          </div>
        </div>

      </div>
      <!--fecha col-md-3-->


      <div class="col-md-9"> 

        <form>
          <div class="row">
            <div class="col-md-12">
              <h3>Editar perfil</h3>
            </div>
          </div>

          <div class="row d-flex mt-4 mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="nome">Nome</label>
                <span class="fa fa-user form-control-icon"></span>
                <input [(ngModel)]="usuario.nome" type="text" class="form-control" placeholder="Insira seu nome" id="nome" name="nome">
              </div>
            </div>
          
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email</label>
                <span class="fa fa-envelope form-control-icon"></span>
                <input [(ngModel)]="usuario.usuario" type="text" class="form-control " placeholder="Insira seu email" id="email" name="email">
              </div>
            </div>
          </div>

          <div class="row d-flex mb-3">
            <div class="col-md-12">
              <div class="form-group">
                <label for="foto">Link da foto</label>
                <span class="fa fa-camera form-control-icon"></span>
                <input [(ngModel)]="usuario.foto" type="text" class="form-control" placeholder="http://imgur.com/foto.png" id="foto" name="foto">
              </div>
            </div>
          </div>

          <div class="row d-flex mb-3">
            <div class="col-md-6">
              <div class="form-group">
                  <label for="senha">Senha:</label>
                  <span class="fa fa-lock px-2 form-control-icon"></span>
                  <input (input)="confirmSenha($event)" type="password" class="form-control" placeholder="Insira sua senha" id="senha">
                  <!-- <i class="fa fa-eye-slash px-2" aria-hidden="true"></i>
                  <i class="fa fa-eye d-none px-2" aria-hidden="true"></i> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="senha-confirm">Confirmar senha:</label>
                <span class="fa fa-lock px-2 form-control-icon"></span>
                <input [(ngModel)]="usuario.senha" type="password" class="form-control" placeholder="Confirme sua senha" id="senha-confirm" name="senha">
                <!-- <i class="fa fa-eye-slash px-2" aria-hidden="true"></i>
                  <i class="fa fa-eye d-none px-2" aria-hidden="true"></i> -->
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12 d-flex">
              <button type="button" class="btn btn-outline-verde px-4 mt-1" routerLink="/feed">Voltar</button>
              <button type="submit" (click)="atualizar()" class="btn btn-verde px-4 mt-1">Atualizar</button>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>

<!--
<div class="main container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex justify-content-center ">
        <div class="col-md-4">
          <h1 class="text-center">Atualize seu perfil</h1>

          <form>
            <div class="form-group">
              <label for="">Nome:</label>
              <div class="input d-flex align-items-center">
                <i class="fa fa-user-o px-2" aria-hidden="true"></i>
                <input type="text" class="form-control" placeholder="Insira seu nome">
              </div>
            </div>
            <div class="form-group">
              <label for="">Email:</label>
              <div class="input d-flex align-items-center">
                <i class="fa fa-envelope-o px-2" aria-hidden="true"></i>
                <input type="text" class="form-control " placeholder="Insira seu email">
              </div>
            </div>
            <div class="form-group d-flex flex-column">
              <label for="">Foto de perfil</label>
              <div class="input d-flex align-items-center">
                <i class="fa fa-file-image-o px-2" aria-hidden="true"></i>
                <input type="text" class="form-control" placeholder="http://imgur.com/foto.png">
              </div>
            </div>
            <div class="form-group">
              <label for="">Senha:</label>
              <div class="input d-flex align-items-center">
                <i class="fa fa-lock px-2" aria-hidden="true"></i>
                <input type="password" class="form-control" placeholder="Insira sua senha">
              </div>
            </div>
            <div class="form-group">
              <label for="">Confirmar senha:</label>
              <div class="input d-flex align-items-center">
                <i class="fa fa-lock px-2" aria-hidden="true"></i>
                <input type="password" class="form-control" placeholder="Confirme sua senha">
              </div>
            </div>
            <button class="btn btn-secondary w-30 d-block mx-auto px-5">Atualizar</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div> -->



