<div class="main container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex justify-content-center ">
        <div class="col-md-4">
          <h1 class="text-center">Atualize seu perfil</h1>

          <form>
            <div class="form-group">
              <label for="">Nome:</label>
              <div class="input d-flex align-items-center">
                <i class="fa fa-user-o px-2" aria-hidden="true"></i>
                <input type="text" class="form-control" placeholder="Insira seu nome">
              </div>
            </div>
            <div class="form-group">
              <label for="">Email:</label>
              <div class="input d-flex align-items-center">
                <i class="fa fa-envelope-o px-2" aria-hidden="true"></i>
                <input type="text" class="form-control " placeholder="Insira seu email">
              </div>
            </div>
            <div class="form-group d-flex flex-column">
              <label for="">Foto de perfil</label>
              <div class="input d-flex align-items-center">
                <i class="fa fa-file-image-o px-2" aria-hidden="true"></i>
                <input type="text" class="form-control" placeholder="http://imgur.com/foto.png">
              </div>
            </div>
            <div class="form-group">
              <label for="">Senha:</label>
              <div class="input d-flex align-items-center">
                <i class="fa fa-lock px-2" aria-hidden="true"></i>
                <input type="password" class="form-control" placeholder="Insira sua senha">
              </div>
            </div>
            <div class="form-group">
              <label for="">Confirmar senha:</label>
              <div class="input d-flex align-items-center">
                <i class="fa fa-lock px-2" aria-hidden="true"></i>
                <input type="password" class="form-control" placeholder="Confirme sua senha">
              </div>
            </div>
            <button class="btn btn-secondary w-30 d-block mx-auto px-5">Atualizar</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
