/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cg-900: #101214;
    --cg-800: #212529;
    --cg-700: #2B3035;
    --cg-600: #495057;
    --cg-500: #6C757D;
    --cg-400: #ADB5BD;
    --cg-300: #CED4DA;
    --cg-200: #DEE2E6;
    --cg-100: #E9ECEF;
    --cg-50: #F8F9FA;

    --verde: #0BE38E;
    --violeta: #753CBD;
    --roxo-escuro: #260673;

    --verde-h: #522D81;
    --violeta-h: #0D9A62;

    --verde-25: #E5E2FF;
    --violeta-25: #C2F8E2;
  }

* {
    font-family: 'Rubik', sans-serif;
    color: var(--cg-800);
}

html {
    scroll-behavior: smooth;
  }

