/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cg-900: #101214;
    --cg-800: #212529;
    --cg-700: #2B3035;
    --cg-600: #495057;
    --cg-500: #6C757D;
    --cg-400: #ADB5BD;
    --cg-300: #CED4DA;
    --cg-200: #DEE2E6;
    --cg-100: #E9ECEF;
    --cg-50: #F8F9FA;

    --verde: #0BE38E;
    --violeta: #978CFF;
    --roxo-escuro: #260673;

    --violeta-h: #625BA6;
    --verde-h: #0D9A62;

    --violeta-25: #E5E2FF;
    --verde-25: #C2F8E2;
  }

* {
    font-family: 'Rubik', sans-serif;
    color: var(--cg-800);
}

html {
    scroll-behavior: smooth;
  }

.py-100{
  padding: 12rem 0;
}

.py-50{
  padding: 7rem 0;
}

.pb-50{
  padding-bottom: 3rem;
}


/* BOOTSTRAP TEXT */
.text-cg-50{
  color: var(--cg-50)!important;
}

.text-cg-100{
  color: var(--cg-100)!important;
}

.text-cg-200{
  color: var(--cg-200)!important;
}

.text-cg-300{
  color: var(--cg-300)!important;
}

.text-cg-400{
  color: var(--cg-400)!important;
}

.text-cg-500{
  color: var(--cg-500)!important;
}

.text-cg-600{
  color: var(--cg-600)!important;
}

.text-cg-700{
  color: var(--cg-700)!important;
}

.text-cg-800{
  color: var(--cg-800)!important;
}

.text-cg-900{
  color: var(--cg-900)!important;
}

.text-violeta{
  color: var(--violeta)!important;
}


.text-verde{
  color: var(--verde)!important;
}


/* BOOTSTRAP BG */
.bg-cg-50{
  background-color: var(--cg-50);
}

.bg-cg-100{
  background-color: var(--cg-100);
}

.bg-cg-200{
  background-color: var(--cg-200);
}

.bg-roxo-escuro{
  background-color: var(--roxo-escuro);
}


/* BOOTSTRAP BORDAS */
.bb-cg-200{
  border-bottom: 1px solid var(--cg-200);
}


/* BOOTSTRAP BTN */
.btn-cg-50{
  background-color: var(--cg-50)!important;
  color: var(--cg-500);
}

.btn-cg-100{
  background-color: var(--cg-100)!important;
  color: var(--cg-500);
}

.btn-cg-200{
  background-color: var(--cg-200)!important;
  color: var(--cg-500);
}

.btn-cg-300{
  background-color: var(--cg-300)!important;
  color: var(--cg-500);
}

.btn-cg-400{
  background-color: var(--cg-400)!important;
  color: var(--cg-500);
}

.btn-cg-500{
  background-color: var(--cg-500)!important;
  color: var(--cg-50);
}

.btn-cg-600{
  background-color: var(--cg-600)!important;
  color: var(--cg-50);
}

.btn-cg-700{
  background-color: var(--cg-700)!important;
  color: var(--cg-500);
}

.btn-cg-800{
  background-color: var(--cg-800)!important;
  color: var(--cg-500);
}

.btn-cg-900{
  background-color: var(--cg-900)!important;
  color: var(--cg-500);
}

.btn-verde{
  background-color: var(--verde)!important;
  color: var(--cg-50);
}
.btn-verde:hover{
  background-color: var(--verde-25)!important;
}

.btn-violeta{
  background-color: var(--violeta)!important;
  color: var(--cg-50);
}

/* .btn-violeta:hover{
  background-color: var(--violeta-h)!important;
} */





#bg-img{
  background-color: var(--cg-50);
  height: 100vh;
}

.conteudo p{
  font-size: 1.3rem;
  color: var(--cg-500);
  font-weight: 400;
}

.conteudo h2{
  font-size: 4rem;
  color: var(--roxo-escuro);
  font-weight: 600;
}

.conteudo h3{
  font-size: 2rem;
  color: var(--violeta);
  font-weight: 600;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--cg-50);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--cg-200);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cg-500);
}